.container {
    width: 100%;
    margin: auto;
    padding: 1%, 1%;
    padding-top: 2%;
    background:url('backgroundImage.jpg');
    background-size:cover;
    background-position:relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top:100px;
    padding-bottom:100px;
}

.jumbotron {
    position: relative;
    opacity: 0.8;
}

#artist {
    z-index: 3;
}

.main-header {
    background-color: rgb(233, 190, 226, 0.9);
    text-align: center;
    font-family:'Allerta Stencil','Times New Roman', Times, serif;
    font-size: 42px;
}

#carouselExampleIndicators {
    padding: 3px;
    z-index:1;
}

#wikipedia {
    position: relative;
    width: 49%;
    float: left;
    background-color: rgb(243, 177, 92, 0.9);
    padding: 1%;
    opacity: 0.9;
    font-family:'Allerta Stencil','Times New Roman', Times, serif;
}

#tour-dates {
    position: relative;
    float: right;
    width: 49%;
    background-color: rgb(243, 177, 92, 0.9);
    padding: 2%;
    opacity: 0.9;
    font-family:'Allerta Stencil','Times New Roman', Times, serif;
}

.tour-date-item {
    font-family:'Allerta Stencil','Times New Roman', Times, serif;
}

#music-samples {

    text-align: center;
    padding-top: 15px;
    padding-bottom: 2px;
    clear: both;
}

.itunes {
    float: left;
    width: 48%;
    text-align: center;
    opacity: 0.9;
    font-family:'Allerta Stencil','Times New Roman', Times, serif;
    
}

.youtube {
    float: right;
    width: 48%;
    text-align: center;
    opacity: 0.9;
    font-family:'Allerta Stencil','Times New Roman', Times, serif;
}

#navbar {
    position: relative;
    bottom: 2px;
    clear: both;
    padding-top: 5px;
    width: 99%;
    text-align: center;
    font-family:'Allerta Stencil','Times New Roman', Times, serif;
    z-index: 1;
    display: inline-block;
}


