.container {
    width: 98%;
    margin: auto;
    padding: 1%, 1%;
    padding-top: 2%;
    background:url('backgroundImage.jpg');
    background-size:cover;
    background-position:relative;
    padding-top:100px;
    padding-bottom:100px;
}

.jumbotron {
    position: relative;
    opacity: 0.8;
}

#artist {
    opacity: 1;
}

.main-header {
    background-color: lightslategray;
    text-align: center;
}

#carouselExampleIndicators {
    padding: 3px;
    opacity: 1;
}

#wikipedia {
    position: relative;
    width: 49%;
    float: left;
    background-color: rgb(107, 84, 190);
    padding: 1%;
    opacity: 0.9;
}

#tour-dates {
    position: relative;
    float: right;
    width: 49%;
    background-color: blueviolet;
    padding: 2%;
    opacity: 0.9;
}

.tour-date-item {
    background-color: tan;
}

#music-samples {
    background-color: rgb(202, 33, 33);
    text-align: center;
    padding-top: .5%;
    clear: both;
}

.itunes {
    float: left;
    width: 48%;
    text-align: center;
    opacity: 0.9;
}

.youtube {
    float: right;
    width: 48%;
    text-align: center;
    opacity: 0.9;
}

.links {
    clear: both;
    width: 99%;
    text-align: center;
}


